<% include partials/header %>
<% var yearOptions = ["All", 2018, 2017, 2016, 2015, 2014]; %>
<% var monthOptions = ["All", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>This is the dashboard!</h1>
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="/income/new">Add an Income!</a>
                <a class="btn btn-primary" href="/expense/new">Add an Expense!</a>
            </div>
            <div class="col-md-12">
                <div class="container">
                    <form class="form-inline" action="/dashboard" method="get">
                        <label for="Year">Year:</label>
                        <select class="form-control" name="year">
                            <% for (var i = 0; i < yearOptions.length; i++) { %>
                                <option value="<%= yearOptions[i] %>"><%= yearOptions[i] %></option>
                            <% } %>
                        </select>
                        <label for="Month">Month:</label>
                        <select class="form-control" name="month">
                            <% for (var i = 0; i < monthOptions.length; i++) { %>
                                <option value="<%= monthOptions[i] %>"><%= monthOptions[i] %></option>
                            <% } %>
                        </select>
                        <button class="btn btn-md btn-primary">Refine</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Incomes</h3>
                <ul>
                    <% var incomeCount = 0 %>
                    <% user.incomes.forEach(function(income){ %>
                        <% incomeCount += income.amount %>
                        <li><a href='/income/<%= income._id %>/edit'><%= date.format(income.date, 'MMM DD YYYY') %>: <%= income.type %> - $<%= income.amount %></a></li>
                    <% }); %>
                    <li>Total Income: $<%= (incomeCount).toFixed(2) %></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Expenses</h3>
                <ul>
                    <% var expenseCount = 0 %>
                    <% user.expenses.forEach(function(expense){ %>
                        <% expenseCount += expense.amount %>
                        <li><a href='/expense/<%= expense._id %>/edit'><%= date.format(expense.date, 'MMM DD YYYY') %>: <%= expense.type %> - $<%= expense.amount %></a></li>
                    <% }); %>
                    <li>Total Expenses: $<%= (expenseCount).toFixed(2) %></li>
                </ul>
            </div>
            <div class="col-md-6">
                <% if(incomeCount > 0 && expenseCount > 0 ){ %>
                    <p>Total Saved: $<%= (incomeCount - expenseCount).toFixed(2) %></p>
                    <p>Savings Rate: <%= (((incomeCount - expenseCount)/incomeCount) * 100).toFixed(2) %>%</p>
                <% } %>
            </div>
        </div>
    </div>

<% include partials/footer %>