<% include partials/header %>
<% var yearOptions = ["All", 2018, 2017, 2016, 2015, 2014]; %>
<% var monthOptions = ["All", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
<% var incomeTypes = []; %>
<% user.incomes.forEach(function(income){incomeTypes.push(income.type);}); %>
<% var expenseTypes = []; %>
<% user.expenses.forEach(function(expense){expenseTypes.push(expense.type);}); %>
<% var uniqueIncomeTypes = [...new Set(incomeTypes)]; %>
<% var uniqueExpenseTypes = [...new Set(expenseTypes)]; %>
<% var incomeBreakdown = {}; %>
<% var expenseBreakdown = {}; %>
<% var incomeCount = 0; %>
<% var expenseCount = 0; %>

<% for(var i = 0; i < user.incomes.length; i++){ %>
    <% if(incomeBreakdown[user.incomes[i].type]){ %>
       <% incomeBreakdown[user.incomes[i].type] += user.incomes[i].amount; %>
    <% } else { %>
       <% incomeBreakdown[user.incomes[i].type] = user.incomes[i].type; %>
       <% incomeBreakdown[user.incomes[i].type] = user.incomes[i].amount; %>
       <% } %>
    <% } %>

<% for(var i = 0; i < user.expenses.length; i++){ %>
    <% if(expenseBreakdown[user.expenses[i].type]){ %>
       <% expenseBreakdown[user.expenses[i].type] += user.expenses[i].amount; %>
    <% } else { %>
       <% expenseBreakdown[user.expenses[i].type] = user.expenses[i].type; %>
       <% expenseBreakdown[user.expenses[i].type] = user.expenses[i].amount %>
       <% } %>
    <% } %>

<% var incomeAmounts = Object.keys(incomeBreakdown).map(function(key) { return incomeBreakdown[key]; }); %>
<% var expenseAmounts = Object.keys(expenseBreakdown).map(function(key) { return expenseBreakdown[key]; }); %>

    <div class="container">
        <div class="row">
            <% if(user.incomes.length > 0 || user.expenses.length > 0){ %>
                <div class="col-md-12">
                    <h1 id="message"><%= currentUser.username %>'s financial dashboard!</h1>
                </div>
                <div class="col-md-12">
                    <div class="container">
                        <a class="btn btn-primary" href="/income/new">Add an Income!</a>
                        <a class="btn btn-primary" href="/expense/new">Add an Expense!</a>
                    </div>
                </div>
            <% } %>
            <% if(user.incomes.length > 0 && user.expenses.length > 0){ %>
                <div class="col-md-12">
                    <div class="container" id='query'>
                        <form class="form-inline" action="/dashboard" method="get">
                            <label for="Year">Year:</label>
                            <select class="form-control" name="year">
                                <% for (var i = 0; i < yearOptions.length; i++) { %>
                                    <option value="<%= yearOptions[i] %>"><%= yearOptions[i] %></option>
                                <% } %>
                            </select>
                            <label for="Month">Month:</label>
                            <select class="form-control" name="month">
                                <% for (var i = 0; i < monthOptions.length; i++) { %>
                                    <option value="<%= monthOptions[i] %>"><%= monthOptions[i] %></option>
                                <% } %>
                            </select>
                            <button class="btn btn-md btn-primary">Refine</button>
                        </form>
                    </div>
                </div>
            <% } %>
            <% if(user.incomes.length === 0 && user.expenses.length === 0){ %>
                <div class="container">
                    <div class="jumbotron">
                        <h1>Let's get started on your finances!</h1>
                        <p>Add an income and or an expense!</p>
                        <a class="btn btn-primary" href="/income/new">Add an Income!</a>
                        <a class="btn btn-primary" href="/expense/new">Add an Expense!</a>
                    </div>
                </div>
            <% } %>
            <div class="container">
                <div class="col-md-12">
                    <% if(query.year && (query.year != "All" && query.year !="All")){ %>
                        <h2><%= query.month %> <%= query.year %> Income and Expenses</h2>
                    <% } %>
                </div>
            </div>
            <div class="container">
                <% if(user.incomes.length > 0){ %>
                    <div class="col-md-6" id="incomes">
                        <h3>Incomes</h3>
                        <hr>
                        <ul>
                            <% user.incomes.forEach(function(income){ %>
                                <% incomeCount += income.amount %>
                                <li class="listitems"><a href='/income/<%= income._id %>/edit'><%= date.format(income.date, 'MMM DD YYYY') %>: <%= income.type %> - $<%= income.amount %></a><form class="inline" action="/income/<%= income._id %>?_method=DELETE" method="POST"><button class='btn btn-xs'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></form></li>
                            <% }); %>
                            <li class="listitems">Total Income: $<%= (incomeCount).toFixed(2) %></li>
                        </ul>
                    </div>
                <% } %>
                <% if(user.expenses.length > 0){ %>
                    <div class="col-md-6" id="expenses">
                        <h3>Expenses</h3>
                        <hr>
                        <ul>
                            <% user.expenses.forEach(function(expense){ %>
                                <% expenseCount += expense.amount %>
                                <li class="listitems"><a href='/expense/<%= expense._id %>/edit'><%= date.format(expense.date, 'MMM DD YYYY') %>: <%= expense.type %> - $<%= expense.amount %></a><form class="inline" action="/expense/<%= expense._id %>?_method=DELETE" method="POST"><button class='btn btn-xs'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></form></li>
                            <% }); %>
                            <li class="listitems">Total Expenses: $<%= (expenseCount).toFixed(2) %></li>
                        </ul>
                    </div>
                <% } %>
            </div>
            <div class="container">
                <% if(user.incomes.length > 0 && user.expenses.length > 0){ %>
                    <div class="col-md-4 charts">
                        <canvas id="pieChart"></canvas>
                    </div>
                <% } %>
                <% if(user.incomes.length > 0){ %>
                    <div class="col-md-4 charts">
                        <canvas id="incomeDonut"></canvas>
                    </div>
                <% } %>
                <% if(user.expenses.length > 0){ %>
                    <div class="col-md-4 charts">
                        <canvas id="expenseDonut"></canvas>
                    </div>
                <% } %>
                <script>
                        //Income vs Expense Pie Chart
                        var ctx = document.getElementById("pieChart");
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: ["Income", "Expenses"],
                                datasets: [{
                                    label: 'Colors',
                                    data: [<%= incomeCount.toFixed(2) %>, <%= expenseCount.toFixed(2) %>],
                                    backgroundColor: [
                                      'rgba(59, 219, 99, 0.5)',
                                      'rgba(255, 30, 71, 0.5)'
                                    ],
                                    borderColor: [
                                      'rgba(59, 219, 99, 1)',
                                      'rgba(255, 30, 71, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {}
                        });
                        
                        //Income Doughnut Chart
                        var ctx2 = document.getElementById("incomeDonut");
                        var myChart2 = new Chart(ctx2, {
                            type: 'doughnut',
                            data: {
                                labels: [<% uniqueIncomeTypes.forEach(function(type){ %>"<%= type %>", <% }); %>],
                                datasets: [{
                                    label: 'Colors',
                                    data: [<%= incomeAmounts %>],
                                    backgroundColor: [
                                      'rgba(235, 134, 244, 0.5)',
                                      'rgba(54, 162, 235, 0.5)',
                                      'rgba(5, 125, 255, 0.5)'
                                    ],
                                    borderColor: [
                                      'rgba(235, 134, 244, 1)',
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(5, 125, 255, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {}
                        });
                        
                        //Expense Doughnut Chart
                        var ctx3 = document.getElementById("expenseDonut");
                        var myChart3 = new Chart(ctx3, {
                            type: 'doughnut',
                            data: {
                                labels: [<% uniqueExpenseTypes.forEach(function(type){ %>"<%= type %>", <% }); %>],
                                datasets: [{
                                    label: 'Colors',
                                    data: [<%= expenseAmounts %>],
                                    backgroundColor: [
                                      'rgba(235, 134, 244, 0.5)',
                                      'rgba(54, 162, 235, 0.5)',
                                      'rgba(5, 125, 255, 0.5)', 
                                      'rgba(204, 32, 155, 0.5)',
                                      'rgba(197, 53, 255, 0.5)',
                                      'rgba(120, 60, 209, 0.5)',
                                      'rgba(68, 227, 255, 0.5)',
                                      'rgba(75, 134, 145, 0.5)',
                                      'rgba(237, 144, 229, 0.5)',
                                      'rgba(244, 134, 134, 0.5)',
                                      'rgba(153, 22, 22, 0.5)',
                                      'rgba(221, 125, 28, 0.5)',
                                      'rgba(255, 172, 89, 0.5)',
                                      'rgba(255, 200, 84, 0.5)',
                                      'rgba(247, 215, 56, 0.5)'
                                      
                                    ],
                                    borderColor: [
                                      'rgba(235, 134, 244, 1)',
                                      'rgba(54, 162, 235, 1)',
                                      'rgba(5, 125, 255, 1)',
                                      'rgba(204, 32, 155, 1)',
                                      'rgba(197, 53, 255, 1)',
                                      'rgba(120, 60, 209, 1)',
                                      'rgba(68, 227, 255, 1)',
                                      'rgba(75, 134, 145, 1)',
                                      'rgba(237, 144, 229, 1)',
                                      'rgba(244, 134, 134, 1)',
                                      'rgba(153, 22, 22, 1)',
                                      'rgba(221, 125, 28, 1)',
                                      'rgba(255, 172, 89, 1)',
                                      'rgba(255, 200, 84, 1)',
                                      'rgba(247, 215, 56, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {}
                        });
                    </script>
            </div>
            <div class="container">
                <div class="col-md-6" id="stats">
                    <% if(incomeCount > 0 && expenseCount > 0 ){ %>
                        <h3>Total Saved: $<%= (incomeCount - expenseCount).toFixed(2) %></h3>
                        <h3>Savings Rate: <%= (((incomeCount - expenseCount)/incomeCount) * 100).toFixed(2) %>%</h3>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>