<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>This is the dashboard!</h1>
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="/income/new">Add an Income!</a>
                <a class="btn btn-primary" href="/expense/new">Add an Expense!</a>
            </div>
            <div class="col-md-6">
                <h3>Incomes</h3>
                <ul>
                    <% var incomeCount = 0 %>
                    <% user.incomes.forEach(function(income){ %>
                        <% incomeCount += income.amount %>
                        <li><%= date.format(income.date, 'MMM DD YYYY') %>: <%= income.type %> - $<%= income.amount %></li>
                    <% }); %>
                    <li>Total Income: $<%= incomeCount %></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Expenses</h3>
                <ul>
                    <% var expenseCount = 0 %>
                    <% user.expenses.forEach(function(expense){ %>
                        <% expenseCount += expense.amount %>
                        <li><%= date.format(expense.date, 'MMM DD YYYY') %>: <%= expense.type %> - $<%= expense.amount %></li>
                    <% }); %>
                    <li>Total Expenses: $<%= expenseCount %></li>
                </ul>
            </div>
            <div class="col-md-6">
                <% if(incomeCount > 0 && expenseCount > 0 ){ %>
                    <p>Total Saved: $<%= incomeCount - expenseCount %></p>
                    <p>Savings Rate: <%= (((incomeCount - expenseCount)/incomeCount) * 100).toFixed(2) %>%</p>
                <% } %>
            </div>
        </div>
    </div>

<% include partials/footer %>